<navbar></navbar>
<div ng-controller="detailCtrl as ctrl" ng-init="ctrl.start">
    <form flex="100" layout="column">
        <div layout="row">
            <md-card md-theme-watch flex="40">
                <md-card-title>
                  <md-card-title-text>
                    <h1>{{ ctrl.data.name }}</h1>
                  </md-card-title-text>
                  <md-card-title-media>
                    <span>{{ ctrl.data.main}}</span>
                    <md-divider md-inset></md-divider>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button>Action 1</md-button>
                  <md-button>Action 2</md-button>
                </md-card-actions>
              </md-card>
              <md-card md-theme-watch flex="60">
                  <md-card-title>
                    <md-card-title-text>
                      <h1>{{ ctrl.data.name }}</h1>
                    </md-card-title-text>
                    <!-- <md-card-title-media>
                        <div class="container">
                            <div class="wrap" style="left:-600px;">
                                <img src="./img/5.jpg" alt="">
                            </div>
                            <div class="buttons">

                            </div>
                            <a ng-click="ctrl.prev_pic" class="arrow arrow_left">&lt;</a>
                            <a ng-click="$ctrl.next_pic" class="arrow arrow_right">&gt;</a>
                        </div>
                    </md-card-title-media> -->
                  </md-card-title>
                </md-card>
        </div>

      </form>
</div>



