@import '../common';

.navbar {
  background-color: $darkBgColor;
  height: 3.5rem;

  padding: 1rem;

  .nav-links,
  .logo {
    display: inline-block;
  }

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }

  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }

  .title-head{
    width: 60px;
    color:ghostwhite;
    background-color: rgb(143, 131, 131);
  }
}
