<nav class="navbar">
  <div flex="100" layout="row" ng-controller="navbarCtrl as ctrl">
      <div class="logo" flex="10">
          <a ui-sref="home"><img src="http://fangggg.top/Picture/head.png" style="width:120px"></a>
        </div>
        <div ng-if="!ctrl.user" flex="10">
            <a href=""  ng-click="ctrl.enter()"><img src="http://img.jf258.com/uploads/2014-09-25/082207464.jpg" style="border-radius: 50% ;width: 40px"></a>
        </div>
        <div ng-if="ctrl.user" flex="10">
            <a href=""  ng-click="ctrl.userDatail()"><img src="{{ctrl.user.head}}" style="border-radius: 50% ;width: 40px;height:40px"></a>
            <!-- <span>{{ctrl.user.message.name_is}}</span> -->
        </div>
        <div flex="40" ng-if="ctrl.state">
          <search></search>
        </div>
        <div class="nav-links" flex="40">
          <span style=" position: relative;bottom: 5px;">
              <md-menu-bar>
                  <md-menu>
                    <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)" class="title-head">
                      目的地
                    </md-button>
                    <md-menu-content width="3">
                      <md-menu-item ng-repeat="org in ctrl.organizations">
                        <md-menu class="nested-menu">
                          <md-button ng-click="ctrl.onClick(org.region)">{{ org.region }}</md-button>
                          <md-menu-content width="3">
                            <md-menu-item ng-repeat="manager in org.managers">
                              <md-menu>
                                <md-button ng-click="ctrl.onClick(manager.name)" ui-sref="{{manager.url}}">{{ manager.name }}</md-button>
                                <md-menu-content width="2">
                                  <md-menu-item ng-repeat="person in manager.reports">
                                    <md-button ng-click="ctrl.onClick(person.name)" ui-sref="{{person.url}}({ detailId : person.id})">{{ person.name }}</md-button>
                                  </md-menu-item>
                                  <md-menu-item>
                                      <md-button ng-disabled="true">查看更多...</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                              </md-menu>
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                  <!-- <md-menu>
                      <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)" class="title-head">
                        出行方式
                      </md-button>
                      <md-menu-content width="3">
                        <md-menu-item>
                            <md-button>陆行</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-menu>
                              <md-button ng-disabled="true">空运</md-button>
                            </md-menu>
                          </md-menu-item>
                          <md-menu-item>
                              <md-menu>
                                <md-button ng-disabled="true">海运</md-button>
                              </md-menu>
                            </md-menu-item>
                      </md-menu-content>
                  </md-menu> -->
                </md-menu-bar>
          </span>

        </div>
  </div>
</nav>
