<nav class="navbar">
  <div flex="100" layout="row" ng-controller="navbarCtrl as ctrl">
      <div class="logo" flex="10">
          <h1><a ui-sref="home">{{ ctrl.name }}</a></h1>
        </div>
        <div ng-if="!ctrl.user" flex="10">
            <a href=""  ng-click="ctrl.enter()"><img src="http://img.jf258.com/uploads/2014-09-25/082207464.jpg" style="border-radius: 50% ;width: 40px"></a>
        </div>
        <div ng-if="ctrl.user" flex="10">
            <a href=""  ng-click="ctrl.userDatail()"><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524118390270&di=69ff0f3368178971788c7e9b91d00062&imgtype=0&src=http%3A%2F%2Fimgsrc.baidu.com%2Fimgad%2Fpic%2Fitem%2F728da9773912b31b903b272e8c18367adab4e166.jpg" style="border-radius: 50% ;width: 40px"></a>
            <!-- <span>{{ctrl.user.message.name_is}}</span> -->
        </div>
        <div flex="40">
          <search></search>
        </div>
        <div class="nav-links" flex="40">
          <span>
              <md-menu-bar>
                  <md-menu>
                    <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)" class="title-head">
                      目的地
                    </md-button>
                    <md-menu-content width="3">
                      <md-menu-item ng-repeat="org in ctrl.organizations">
                        <md-menu class="nested-menu">
                          <md-button ng-click="ctrl.onClick(org.region)">{{ org.region }}</md-button>
                          <md-menu-content width="3">
                            <md-menu-item ng-repeat="manager in org.managers">
                              <md-menu>
                                <md-button ng-click="ctrl.onClick(manager.name)" ui-sref="{{manager.url}}">{{ manager.name }}</md-button>
                                <md-menu-content width="2">
                                  <md-menu-item ng-repeat="person in manager.reports">
                                    <md-button ng-click="ctrl.onClick(person.name)" ui-sref="{{person.url}}({ detailId : person.id})">{{ person.name }}</md-button>
                                  </md-menu-item>
                                  <md-menu-item>
                                      <md-button ng-disabled="true">查看更多...</md-button>
                                    </md-menu-item>
                                </md-menu-content>
                              </md-menu>
                            </md-menu-item>
                          </md-menu-content>
                        </md-menu>
                      </md-menu-item>
                    </md-menu-content>
                  </md-menu>
                  <!-- <md-menu>
                      <md-button aria-label="Open menu" ng-click="$mdMenu.open($event)" class="title-head">
                        出行方式
                      </md-button>
                      <md-menu-content width="3">
                        <md-menu-item>
                            <md-button>陆行</md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-menu>
                              <md-button ng-disabled="true">空运</md-button>
                            </md-menu>
                          </md-menu-item>
                          <md-menu-item>
                              <md-menu>
                                <md-button ng-disabled="true">海运</md-button>
                              </md-menu>
                            </md-menu-item>
                      </md-menu-content>
                  </md-menu> -->
                </md-menu-bar>
          </span>
          <span><a ui-sref="about">about</a></span>
          <span></span>
        </div>
  </div>
</nav>
