<md-dialog aria-label="Mango (Fruit)" style="width:900px;
height:1200px">
    <form>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>确认信息及付款</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="ctrl.$mdDialog.cancel()">
            <img src="http://fangggg.top/svg/ic_clear_white_48dp_2x.png" style="width:24px">
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content style="max-width:800px;max-height:810px;">
        <div layout="row" style="padding:10px">
          <h1>订单号:</h1>
          <h1>{{ctrl.orderid}}</h1>
        </div>
        <div layout="row" style="padding:10px">
          <p style="color:darkgray">创建时间:</p>
          <p style="color:darkgray;position: relative;top: 4px;">{{ctrl.creattime}}</p>
        </div>
        <br>
        <hr class="hr1">
        <md-card>
          <h1 style="padding:5px">账号信息</h1>
          <div layout="row" style="padding:5px">
              <md-input-container class="md-block">
                  <label>账号</label>
              <input ng-model="ctrl.data.user.message.name" type="text" ng-disabled="true">
            </md-input-container>
            <md-input-container class="md-block">
                <label>用户名</label>
            <input ng-model="ctrl.data.user.message.name_is" type="text" ng-disabled="true">
          </md-input-container>
          </div>
        </md-card>
        <md-card>
          <h1 style="padding:5px">用户信息</h1>
          <div layout="row" style="padding:5px">
            <md-input-container class="md-block">
              <label>姓名</label>
              <input ng-model="ctrl.data.name_is" type="text" ng-disabled="true">
            </md-input-container>
            <md-input-container class="md-block">
                <label>联系方式</label>
                <input ng-model="ctrl.data.phone" type="text" ng-disabled="true">
              </md-input-container>
          </div>
          <md-input-container class="md-block">
              <label>身份证号</label>
              <input ng-model="ctrl.data.idcard" type="text" ng-disabled="true">
            </md-input-container>
            <md-input-container class="md-block">
                <label>入住日期</label>
                <input ng-model="ctrl.data.intime" type="text" ng-disabled="true">
              </md-input-container>
        </md-card>
        <h1>套餐信息:</h1>
        <md-card>
            <table style="height:50px">
                <tr>
                  <td>套餐名称</td>
                  <td>价格</td>
                  <td>游玩天数</td>
                  <td>适合人数</td>
                  <td>游玩区域</td>
                </tr>
                <tr>
                  <td>{{ctrl.data.chooselist.name}}</td>
                  <td>{{ctrl.data.chooselist.pay}}元</td>
                  <td>{{ctrl.data.chooselist.day}}天</td>
                  <td>{{ctrl.data.chooselist.number}}人</td>
                  <td>{{ctrl.changedata(ctrl.data.chooselist.url)}}</td>
                </tr>
              </table>
        </md-card>
        <br>
        <hr class="hr1">
        <div>
            <h3>请选择支付方式:</h3>
            <md-input-container flex="66">
                <label>支付方式</label>
                <md-select name="type" ng-model="ctrl.type" required>
                  <md-option value="zhifubao">支付宝</md-option>
                  <md-option value="weixin">微信</md-option>
                </md-select>
              </md-input-container>
        </div>
        <hr class="hr1">
        <md-card ng-if="ctrl.type == 'zhifubao'" style="width:300px">
          <h3 layout="center">请只用支付宝扫一扫</h3>
          <img src="http://fangggg.top/Picture/payfinish.png" ng-mouseleave="ctrl.paydata = false">
          <md-button class="md-raised md-primary" ng-click="ctrl.pay()" ng-disabled="ctrl.paydata">已完成付款</md-button>
        </md-card>
        <md-card ng-if="ctrl.type == 'weixin'" style="width:300px">
          <h3 layout="center">请只用微信扫一扫</h3>
          <img src="http://fangggg.top/Picture/payfinish.png" ng-mouseleave="ctrl.paydata = false">
          <md-button class="md-raised md-primary" ng-click="ctrl.pay()">已完成付款</md-button>
        </md-card>
      </md-dialog-content>

      <md-dialog-actions layout="row">
        <h1 flex style="color:rgb(104, 78, 78)">
          价格：{{ctrl.data.chooselist.pay}} 元
        </h1>
        <md-button ng-click="ctrl.confirm()" style="margin-right:20px;"  class="md-raised md-primary" ng-disabled="ctrl.finish" >
          确认订单
        </md-button>
      </md-dialog-actions>
    </form>
  </md-dialog>
