<div ng-controller="aboutCtrl as ctrl">
  <md-tabs md-no-ink md-border-bottom	md-align-tabs="bottom" md-autoselect="true" md-dynamic-height class="md-primary md-hue-2" md-center-tabs>
    <md-tab  ng-repeat="item in ctrl.data">
        <md-tab-label>
          <div>
              <img src="{{item.img}}" style="width:50px;height:25px ;border:1px solid white;">
          </div>
        </md-tab-label>
        <md-tab-body>
          <div style="background:url({{item.img}});background-size:100% 100%;
          background-repeat:no-repeat;width:100%;
          height: 500px">
          <div style="height:100%;width:300px; position: relative; left:100px; top:300px;">
              <search></search>
          </div>
          </div>
        </md-tab-body>
    </md-tab>

  </md-tabs>
  <br>
  <div layout="row">
    <div flex="30" class="about">
      <md-card>
        <md-tabs md-no-ink  md-autoselect="true" md-dynamic-height>
          <md-tab ng-repeat="sid in ctrl.sidebar">
              <md-tab-label>
                <div style="width:80px">
                  {{sid.name}}
                </div>
              </md-tab-label>
              <md-tab-body>
                  <div  align="center">
                    <a ui-sref="{{sid.url}}"><img src="{{sid.img}}" style="height:200px ; width:380px;border:1px solid white;"></a>
                  </div>
                  <br>
                  <hr class="hr1">
                  <div  style="padding:15px">
                    <h3 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size:12px">{{sid.main}}</span>
                  </div>
                  <md-button ui-sref="{{sid.url}}" class="md-raised">查看详情</md-button>
              </md-tab-body>
          </md-tab>
        </md-tabs>
      </md-card>
    </div>
    <div flex="5"></div>
    <div flex="65">
        <h1>热卖爆款</h1>
        <hr class="hr">
        <div>
          <md-card>
            <detaillist></detaillist>
          </md-card>
        </div>
    </div>
  </div>
</div>
<div>
</div>
<details>
  <summary>123123123</summary>
  <md-card>
   <wuyishan>
  </md-card>
</details>



